modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_sendgrid:1.0.0"]

[userenv]

[userenv.shared]
VITE_AUTHORIZE_NET_API_LOGIN_ID = "4haRx63PF"
VITE_AUTHORIZE_NET_CLIENT_KEY = "87wXkh5N2FtN2T5pJ66J994QLDF59dSvwZLn2H45xQQVE8weeqc6LBJdMRX8Wbp5"
VITE_AUTHORIZE_NET_ENV = "sandbox"
